* {
  color: #6f4bf2;
  font-family: "Alata", sans-serif;
}

.section {
  padding: 8rem 0 7rem;
  text-align: center;
}

.icon {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}

.form {
  color: white;
  background-color: #dceac2;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.title {
  padding-left: 5rem;
  max-width:100%;
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#label {
  font-size: 3rem;
}

#embed-iframe {
  display: flex;
  justify-content: center;
}


@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .icon {
    position: absolute;
    top: 8rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 14rem 0 15rem;
  }
  .icon {
    top: 6rem;
    right: 5rem;
    max-height: 510px;
  }
  #embed-iframe {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .icon {
    top: 5rem;
    max-height: 615px;
  }
}
