.section {
    padding: 8rem 0 7rem;
}

.icon {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
}

.form {
    background-color: #DCEAC2;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

